{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Добавить машину {% endblock %}

{% block search %}
{% endblock %}
{% block nav %}

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'adminIndex' %}"><span class="glyphicon glyphicon-home"></span> Список машин</a></li>
            <li><a href="{% url 'order_list' %}"><span class="glyphicon glyphicon-tags"></span> Список заявок</a></li>
            <li><a href="{% url 'message' %}"><span class="glyphicon glyphicon-envelope"></span> Сообщения</a></li>
            <li><a href="{% url 'car_create' %}"><span class="glyphicon glyphicon-plus"></span> Добавить машину</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{request.user.username}}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
            {% endif %}

        </ul>
    </div>

{% endblock %}


{% block body %}
    <div class='container table-responsive'>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><h5><strong><span class="glyphicon glyphicon-list"></span> Список почты</strong></h5> </div>
            <div class="panel-body">
                <!-- Table -->

                <table class="table table-bordered table-striped table-hover">

                    <tr>
                        <td><strong>Имя отправителя</strong></td>
                        <td><strong>Почта отправителя</strong></td>
                        <td><strong>Сообщения</strong></td>
                        <td><strong>Действия</strong></td>
                    </tr>

                    <tbody>
                    {% for ob in car %}

                        <tr>
                            <td>{{ob.name}}</td>
                            <td>{{ob.email}}</td>
                            <td>{{ob.message}}</td>

                            <td>

                                <a href="{% url 'msg_delete' ob.id %}"><button type="button" class="btn btn-danger" onclick="return getConfirmation()"><span class="glyphicon glyphicon-trash"></span></button></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>



            </div>

        </div>



    </div> <!--end container-->
{% endblock %}