{% extends 'base.html' %}
{% block title %} Подробности для {{detail.car_name}} {% endblock %}

{% block body %}

{% block search %}
{% endblock %}



<div class ='col-sm-6 col-sm-offset-3'>
  <div class="list-group-item active">
    <strong><span class="glyphicon glyphicon-film"></span> Подробности машины</strong>
  </div>
  {% if detail.image %}
  <img src='{{ detail.image.url }}' class="img-responsive"/>
  {% endif %}
  <a href="" class="list-group-item"><strong>Название машины: </strong>{{detail.car_name}}</a>
  <a href="" class="list-group-item"><strong>Название компании   : </strong>{{detail.company_name}}</a>
  <a href="" class="list-group-item"><strong>Количество мест   : </strong>{{detail.num_of_seats}}</a>
  <a href="" class="list-group-item"><strong>Стоимость за день   : </strong>{{detail.cost_par_day}}</a>
  <a href="" class="list-group-item"><strong>Нравится   : </strong>{{detail.like}}</a>
  <a href="" class="list-group-item"><strong>Другие детали   : </strong>{{detail.content}}</a><br>
  <div class="pull-right">
    <a href="{% url 'newcar' %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Недавно добавленное авто</button></a>
    <a href="{% url 'order_create' %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Бронировать</button></a>
    
<hr>
  </div>



</div>

{% endblock %}