{% extends 'base.html' %}
{% block title %}  Список машин {% endblock %}

{% block delete_confirm %}
{% endblock %}

{% block nav %}
    <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Домой</a></li>

    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-share"></span> Выйти {{ request.user.username }}</a></li>
    {% else %}
        <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-share"></span> Войти</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 15px;">
        <div class="row">
            {% for ob in car %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        {% if ob.image %}
                            <img src='{{ ob.image.url }}' class="img-responsive"/>
                        {% endif %}
                        <div class="caption">
                            <strong>{{ ob.car_name }}</strong>
                            <p> Название компании: {{ ob.company_name }}<br>
                                Количество мест: {{ ob.num_of_seats }}<br>
                                Стоимость за день: {{ ob.cost_par_day }} рублей<br>
                            </p>
                            {% if user.is_staff %}
                                <div class="pull-right">
                                    <p><a href="{% url 'car_detail' ob.id %}" class="btn btn-primary" role="button">Подробно</a>
                                        <a href="{% url 'order_create' %}" class="btn btn-danger" role="button">Бронь</a></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


            {% endfor %}
        </div>

        <nav>
            <ul class="pager">
                <li class="previous">
                    {% if car.has_previous %}
                        <a href="?page={{ car.previous_page_number }}" class="next-page"><span aria-hidden="true">&larr;</span>Назад</a>
                    {% endif %}
                </li>
                <li class="previous" style="color: black;">
                    Страниц {{ car.number }} из {{ car.paginator.num_pages }}.

                </li>
                <li class="next">
                    {% if car.has_next %}
                        <a href="?page={{ car.next_page_number }}" class="next-page">Вперед <span aria-hidden="true">&rarr;</span></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <hr>
    </div>
{% endblock %}
