{% extends 'base.html' %}
{% block title %} Детали бронирования {% endblock %}

{% block body %}
    <div class ='col-sm-6 col-sm-offset-3'>
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>Ваше бронирование было успешно. Мы скоро свяжемся с вами по поводу вашего бронирования. Детали вашего бронирования указаны ниже</p>
        </div>
        <p class="list-group-item active">
            <strong><span class="glyphicon glyphicon-tag"></span> Детали бронирования</strong>
        </p>
        <a href="" class="list-group-item"><strong>ID заказа: </strong>{{detail.id}}</a>
        <a href="" class="list-group-item"><strong>Имя автомобиля: </strong>{{detail.car_name}}</a>
        <a href="" class="list-group-item"><strong>Имя сотрудника: </strong>{{detail.employee_name}}</a>
        <a href="" class="list-group-item"><strong>Номер телефона: </strong>{{detail.cell_no}}</a>
        <a href="" class="list-group-item"><strong>Адрес: </strong>{{detail.address}}</a>
        <a href="" class="list-group-item"><strong>Начало брони: </strong>{{detail.date_from}}</a>
        <a href="" class="list-group-item"><strong>Окончание брони: </strong>{{detail.date_to}}</a>
        <br>
        <div class="pull-right">
            <a href="{% url 'order_edit' detail.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Редактировать бронирование</button></a>
            <a href="{% url 'order_delete' detail.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span> Отменить бронирование</button></a>
            <a href=""><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Печать</button></a>

        </div>
    </div>
{% endblock %}